<link href="/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<link href="/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" />

<div class="row px-3">
    <div class="widget widget-card-four col-6 col-sm-4 col-md-3 mx-1">
        <div class="widget-content">
            <div class="w-content">
                <div class="w-info">
                    <h6 class="value">{{eventCount}}</h6>
                    <p><a href="/events/list" class="">Eventos</a></p>
                </div>
                <div class="">
                    <div class="w-icon" style="padding-top: 0;">
                        <i class="bi bi-calendar-fill" style="font-size: 30px;"></i>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="widget widget-card-four col-6 col-sm-4 col-md-3 mx-1">
        <div class="widget-content">
            <div class="w-content">
                <div class="w-info">
                    <h6 class="value"><a href="/events/new">Crear Evento</a></h6>
                </div>
                <div class="">
                    <div class="w-icon" style="padding-top: 0;">
                        <i class="bi bi-calendar-plus-fill" style="font-size: 30px;"></i>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
