
<section class="bg-red-800 w-[200px] flex flex-col justify-between pt-10 lg:pt-0 p-3 fixed top-0 h-full">
    <div>
        <div>
            <span class="hidden lg:block p-3">{{> logoTeatro }}</span>
        </div>
        <nav class="w-auto h-full">
            <ul class="grid">
                <a href="/dashboard" class="text-center flex justify-center  items-center  gap-5 py-3 hover:bg-red-700 hover:text-white p-5">
                    <img src="/ico/panel.svg" class="w-5 hover:scale-110" />
                    <span class="flex-1 hidden lg:block">panel</span>
                </a>
                <a href="/profile" class="text-center flex justify-center  items-center  gap-5 py-3 hover:bg-red-700 hover:text-white p-5">
                    <img src="/ico/usuario.svg" class="w-5 hover:scale-110" />
                    <span class="flex-1 hidden lg:block">perfil</span>
                </a>
                <a href="/users" class="text-center flex justify-center  items-center  gap-5 py-3 hover:bg-red-700 hover:text-white p-5">
                    <img src="/ico/usuarios.svg" class="w-5 hover:scale-110" />
                    <span class="flex-1 hidden lg:block">usuarios</span>
                </a>
                <a href="/events?now=true" class="text-center flex justify-center  items-center  gap-5 py-3 hover:bg-red-700 hover:text-white p-5">
                    <img src="/ico/evt.svg" class="w-5 hover:scale-110" />
                    <span class="flex-1 hidden lg:block">eventos</span>
                </a>
            </ul>
        </nav>
    </div>
    
</section>
<div class="bg-red-800 flex flex-col justify-between pt-10 lg:pt-0 p-3"></div>
