
<nav class="navbar narbar-dark bg-light py-2 px-5 flex justify-content-between">
    {{!-- <img src="/fundacion.png" class="w-5" style="width: 8em;" /> --}}

    <h1 class="navbar-brand">Teatro simón bolivar</h1>

    <ul class="nav flex">
        <li>
            <a class="navbar-item" href="/login">entrar</a>
        </li>
    </ul>
</nav>
