<link href="/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-activity-four" style="height: auto;">
            <div class="widget-heading">
                <h5 class="">Eventos Recientes</h5>
                <span>(proximos 7 dias)</span>
            </div>
            <div class="widget-content">
                <div class="mt-container mx-auto">
                    <div class="timeline-line">
                        
                        {{#each eventsDay}}
                            {{#if this}}
                                <div class="item-timeline timeline-primary">
                                    <div class="t-dot" data-original-title="" title="">
                                    </div>
                                    <div class="t-text">
                                        <p>{{this.event_name}}</p>
                                        <span class="badge badge-primary">{{this.admin_status}}</span>
                                        <p class="t-time">{{this.admin_date}}</p>
                                    </div>
                                </div>
                            {{else}}
                                <div class="item-timeline">
                                    <div class="t-dot" data-original-title="" title="">
                                    </div>
                                    <div class="t-text">
                                        <p>no tienes eventos</p>
                                        <p class="t-time">...</p>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>