<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/cardUser.css" />

    <title>Teatro SB</title>
</head>

<body class="min-h-screen bg-gray-200">
    {{#if user }}
        <div class="grid grid-cols-[200px_1fr] min-h-screen">
        {{> slide }}

        <section class="min-h-[85v]">
            {{> header}}
            <main class="min-h-full">
                {{{ body }}}
            </main>
        </section>
        </div>
    {{else}}
        <div class="h-full w-full bg-[url('/teatro.jpg')] bg-no-repeat bg-cover">
            {{{ body }}}
        </div>
    {{/if}}

    {{> errors }}

    <script src="/js/event.js"></script>
</body>
</html>